<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Head Lines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment scrollable mode="md" color="primary" (ionChange)="findByCategorie($event)">

  <ion-segment-button mode="md" *ngFor="let item of categories" [value]="item">
    <ion-label text-capitalize>{{ item }}</ion-label>
  </ion-segment-button>

</ion-segment>

<ion-content color="dark">

  <app-news [news]="news"></app-news>

  <ion-infinite-scroll threshold="150%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
